In [3]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

import acquire
import prepare

### Acquire

In [4]:
# Created an acquire.py file that runs a SQL query to join the databases from the codeup library, and created a
# pandas dataframe with that query, after that I saved it to a csv, and have to function check for the csv.
df = acquire.get_cohort_data()

### Prepare

**Prepare summary**

##### List of things my clean_cohort_data function does.
- Combined the date and time column into a datetime, and converted the datatype to datetime
- placed my new datetime column to the index for later use
- replaced the program_id with its corresponding program name and subdomain
- dropped unnecessary columns 'date','time','deleted_at','program_id','id'
- renamed 'name' to 'cohort_name' for my personal readability

In [5]:
df = prepare.clean_cohort_data(df)

In [6]:
df.head()

,path,user_id,cohort_id,ip,cohort_name,slack,start_date,end_date,created_at,updated_at,program_name,program_subdomain
datetime,,,,,,,,,,,,
2018-01-26 09:55:03,/,1,8.0,97.105.19.61,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,PHP Full Stack Web Development,php
2018-01-26 09:56:02,java-ii,1,8.0,97.105.19.61,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,PHP Full Stack Web Development,php
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,PHP Full Stack Web Development,php
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,PHP Full Stack Web Development,php
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Badlands,#badlands,2014-06-04,2014-08-22,2016-06-14 19:52:26,2016-06-14 19:52:26,PHP Full Stack Web Development,php

In [7]:
df.describe().T

             count       mean        std  min   25%   50%   75%    max
user_id    73739.0  30.566213  35.540653  1.0  11.0  12.0  53.0  139.0
cohort_id  72405.0  21.817374   6.708243  1.0  22.0  22.0  28.0   28.0

## Questions from zach

### 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?